/******************************************
/* CSS
/*******************************************/


/* Box Model Hack */
* {
    box-sizing: border-box;
}



/******************************************
/* LAYOUT
/*******************************************/
@media (max-width: 600px) {
    .calculator {
        width: 80%;
        margin: 0 auto;
    }
}

html {
    height: 100%;
}

title {
    text-align: left;
    font-size: 5px;
}

body {
    background-image: linear-gradient(to left bottom, #220780, #970074, #d52c60, #f57651, #ffba5a);
}

#display{
    border-radius: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 30px;
    width: 97%;
    height: 56%;
    margin:auto;
    margin-top: 5px;
    margin-bottom: -10px
}

.calculator {
    border: 3px solid #533D6B;
    border-radius: 10px;
    width:fit-content;
    background: rgba(255, 255, 255, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.7px);
    -webkit-backdrop-filter: blur(1.7px);
    height: fit-content;
    margin: 25px auto;
}

button {
    border-radius: 10px;
    color: #F8F9FA;
    padding: 18px;
    min-height: fit-content;
    max-width: fit-content;
    margin: 2px;
}

.btn-1 {
    background: #220780;
}

.btn-2 {
    background: #615fed;
}

.btn-3 {
    background: #ffba5a;
}

.btn-4 {
    background: #fffab2;
    color: black;
}


img {
    display: block;
    margin: 0 auto;
    width: 25%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

