/******************************************
/* CSS
/*******************************************/


/* Box Model Hack */
* {
    box-sizing: border-box;
}



/******************************************
/* LAYOUT
/*******************************************/
html {
    height: 100%;
}

title {
    text-align: left;
    font-size: 5px;
}

body {
    background: rgb(143, 151, 157);
        background: linear-gradient(201deg, rgba(143, 151, 157, 1) 0%, rgba(242, 240, 235, 1) 100%);
}

#display{
    border-radius: 10px;
    display: flex;
    align-items:center;
}

.calculator {
    height: 50px;
    border: 3px solid #533D6B;
    border-radius: 10px;

}

img {
    display: block;
    margin: 0 auto;
    width: 25%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

