/******************************************
/* CSS
/*******************************************/


/* Box Model Hack */
* {
    box-sizing: border-box;
}



/******************************************
/* LAYOUT
/*******************************************/
html {
    height: 100%;
}

title {
    text-align: left;
    font-size: 5px;
}

body {
    background: rgb(143, 151, 157);
        background: linear-gradient(201deg, rgba(143, 151, 157, 1) 0%, rgba(242, 240, 235, 1) 100%);
}

#display{
    border-radius: 10px;
    display: flex;
    align-items:center;
    padding: 24px;
    width:fit-content;
    height:fit-content;
}

.calculator {
    border: 3px solid #533D6B;
    border-radius: 10px;
    width:fit-content;
    background: rgba(83, 61, 107, 0.73);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
}

.button {
    background-color: #20212e;
    border-radius: 10px;
    color: #808080;
    padding: 18px;
    min-height: fit-content;
    max-width: fit-content;
}


img {
    display: block;
    margin: 0 auto;
    width: 25%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

